* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgba(170, 206, 245, 0.425);
  color: rgb(17, 17, 17);
}
/* rgba(243, 237, 231, 0.658); */

.clock {
  z-index: 2;
  width: 50%;
  margin: auto;
  text-align: left;
}

.clock-image img {
  position: relative;
  top: -300px;
  z-index: 2;
  width: 400px;
  height: 400px;
}

.clock-image {
  text-align: center;
  z-index: 2;
}

.arrow-seconds {
  z-index: 4;
  left: 49.6%;
  top: 100px;
  position: relative;
  height: 399px;
  width: 5px;
  /*   animation: rotate 60s infinite linear; */
}

.arrow-up {
  height: 200px;
  width: 5px;
  background-color: rgb(196, 96, 96);
}

.arrow-down {
  height: 200px;
  width: 5px;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.clock-numbers {
  width: 500px;
  text-align: left;
  font-size: 8rem;
  margin: auto;
  margin-top: -300px;
}

.start-stop,
.edit-buttons {
  text-align: center;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 12rem;
}

.buttons {
  z-index: 6;
  margin: auto;
  margin-top: 10.5rem;
  display: flex;
}

.buttons button {
  appearance: none;
  border: none;
  outline: none;
  transition-property: all;
  transition-duration: 0.5s;
  background-color: rgba(39, 63, 65, 0.658);
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 150px;
  height: 70px;
  text-align: center;
}

.buttons button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(15, 40, 66, 0.425);
  color: rgba(206, 225, 245, 0.425);
}

@media (min-width: 1470px) {
  .control-panel {
    margin-right: 5%;
  }
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }
  .clock {
    width: 100%;
  }
  .clock-image {
    height: 400px;
  }
  .clock-image img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  .arrow-seconds {
    left: 49.8%;
    height: 299px;
    width: 3px;
    top: 50px;
  }
  .arrow-up {
    height: 150px;
  }
  .clock-numbers {
    width: 500px;
    text-align: left;
    margin-top: 0px;
  }
  .control-panel {
    margin-top: 7rem;
  }
  .buttons {
    margin-top: -50px;
  }
}

@media (max-width: 700px) {
  .clock-image {
    height: 200px;
    padding: 0;
  }
  .clock-image img {
    width: 200px;
    height: 200px;
    margin-top: 150px;
  }
  .arrow-seconds {
    height: 200px;
    width: 3px;
    top: 50px;
  }
  .arrow-up {
    height: 100px;
  }
  .clock-numbers {
    text-align: left;
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .clock {
    width: 100%;
  }
  .clock-numbers {
    width: 430px;
    font-size: 7rem;
  }
  .control-panel {
    margin-top: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
  }
  .buttons button {
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .clock-numbers {
    font-size: 5rem;
    width: 330px;
  }
  .buttons button {
    width: 130px;
    height: 70px;
  }
}

@media (max-width: 400px) {
  .clock-image img {
    width: 150px;
    height: 150px;
    margin-top: 150px;
  }
  .arrow-seconds {
    height: 150px;
    width: 3px;
    top: 0px;
  }
  .arrow-up {
    height: 75px;
    width: 2px;
  }
  .start-stop {
    width: 110px;
  }
  .edit-buttons {
    width: 150px;
  }
  .clock-numbers {
    width: 260px;
    font-size: 3rem;
    padding-left: 2rem;
    margin-top: -30px;
  }
  .buttons {
    margin-top: -40px;
  }
  .buttons button {
    font-size: 1rem;
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 350px) {
  .clock-image {
    margin-top: 100px;
  }
  .clock-numbers {
    width: 260px;
  }
}

@media (max-width: 300px) {
  .clock-numbers {
    width: 260px;
    font-size: 3rem;
    margin-top: -50px;
  }
  .buttons {
    margin-top: 0px;
  }
  .buttons button {
    font-size: 1rem;
    width: 100px;
    height: 60px;
  }
}

.loop-container-btns {
  display: flex;
  margin-left: 2rem;
}

.loop-container {
  padding-top: 5px;
  margin-top: 2rem;
  width: 200px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: auto;
}

.loop {
  opacity: 0;
  font-size: 2rem;
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
}
